<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Trippppr</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li id="homeLink" class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li id="aboutLink" class="nav-item">
        <a class="nav-link" href="/about">About</a>
      </li>
      <li id="tripsLink" class="nav-item">
        {{#if user}}
          <a class="nav-link" href="/trips">Saved Trips</a>
        {{/if}}
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      {{#if user}}
        <a href="/auth/logout"><button type="button" class="login btn btn-outline-primary">Logout</button></a>
      {{else}}
        <a href="/auth/login"><button type="button" class="login btn btn-outline-primary">Login</button></a>
      {{/if}}
    </form>
  </div>
</nav>

<script>
  $(document).ready(function(){
    var pathname = window.location.pathname;

    if (pathname == "/") {
      $("#homeLink").addClass("active");
      $("#aboutLink").removeClass("active");
      $("#tripsLink").removeClass("active");
    } else if (pathname == "/about") {
      $("#aboutLink").addClass("active");
      $("#homeLink").removeClass("active");
      $("#tripsLink").removeClass("active");
    } else if (pathname == "/trips") {
      $("#tripsLink").addClass("active");
      $("#homeLink").removeClass("active");
      $("#aboutLink").removeClass("active");
    }
  });
</script>