<div class="intro">
  <h2>About Trippppr</h2>
  <p>Trippppr introduces you to events, restaurants, points of interests, and flights for any location you might be visiting! Simply enter your trip details into the search box and press search! All manner of options will be displayed for your trip, simply click save on what interests you and save the trip at the end to be able to quickly view that information later! Happy Tripppping!</p>
</div>