<div class="intro">
  <h2>INTRO</h2>
  <p>Trippppr introduces you to events, restaurants and points of interests for any location you might be visiting! We will create lists of things for you to do, just enter any location and a potential time you will be visiting.</p>
</div>