<div id="cover">
  <div class="header">
    <div class="imageslideshow">
      <div class="images">
        <img src="photos/london.jpg" alt="london"/>
      </div>

      <div class="images"> 
        <img src="photos/japan.jpg" alt="japan"/> 
      </div>

      <div class="images">
        <img src="photos/italy.jpg" alt="italy"/>
      </div>

      <div class="images">
      <img src="photos/sanfran.jpg" alt="san francisco"/>
      </div>

      <div class="images"> 
      <img src="photos/newyork.jpg" alt="new york"/>
      </div>

      <div class="images"> 
      <img src="photos/thailand.jpg" alt="bali"/> 
      </div>

      <div class="images"> 
      <img src="photos/australia.jpg" alt="australia"/> 
      </div>
    </div>
  </div>

  <div id="search-wrapper">
    <div class="searchevent container">
      <p>Enter a location and date for your trip!</p>
      <form id="searchForm">
        <input type="text" id="search" placeholder="Ex. Boston" required>
        <input type="date" id="date" name="date" required>
        <button type="submit" id="submit" class="btn btn-outline-success">Search</button>
      </form>
    </div>
  </div>
</div>
  
<hr>

<!--outputs-->
<div id="outputs" class="outputs">
  <div class="events">
    <h2>EVENTS</h2> <span id="loader1"></span>
    <table style="width:100%" id="eventsresults">
    </table>
  </div>
  
  <hr>

  <div class="restaurants">
    <h2>RESTAURANTS</h2><span id="loader2"></span>
    <table style="width:100%" id="restresults">
    </table>
  </div>

  <hr>

  <div class="pois">
    <h2>POINTS OF INTERESTS</h2><span id="loader3"></span>
    <table style="width:100%" id="poisresults">
    </table>
  </div>

</div>

<!--events output-->
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
  $("#searchForm").submit(function(e){
    e.preventDefault();

    getEvents();
    getRestaurants();
    getPOIs();

    return false;
  });

  function getEvents() {
    document.getElementById("loader1").innerHTML = "Loading...";
    document.getElementById("eventsresults").innerHTML = "<tr> <th>Name</th> <th>Date</th> <th>Free?</th> </tr>"
    var queryData = document.getElementById("search").value;
    var date = (new Date(document.getElementById("date").value)).toISOString().slice(0, -5);
    axios.post('/events', {
      query: encodeURI(queryData),
      date: date
    })
    .then(function (response) {
      var table = document.getElementById("eventsresults");
      var html = "<tr> <th>Name</th> <th>Date</th> <th>Free?</th> </tr>"
      response.data.events.forEach(function(event){
        html += "<tr> <td>" + event.name.text + "</td><td>" + (new Date(event.start.utc)).toLocaleDateString() + "</td><td>" + event.is_free + "</td></tr>"
      })
      table.innerHTML = html;
      document.getElementById("loader1").innerHTML = ""
      document.getElementById("outputs").scrollIntoView(true);
    })
    .catch(function (error) {
      console.log(error);
      document.getElementById("loader1").innerHTML = ""
    });
  }

  function getRestaurants() {
    document.getElementById("loader2").innerHTML = "Loading...";
    document.getElementById("restresults").innerHTML = "<tr> <th>Name</th> <th>Address</th> <th>Cuisine</th> </tr>"
    var queryData = document.getElementById("search").value;
    axios.post('/zomato', {
      query: encodeURI(queryData)
    })
    .then(function (response) {
      var table = document.getElementById("restresults");
      var html = "<tr> <th>Name</th> <th>Address</th> <th>Cuisine</th> </tr>"
      response.data.restaurants.forEach(function(rest) {
        html += "<tr> <td>" + rest.restaurant.name + "</td><td>" + rest.restaurant.location.address + "</td><td>" + rest.restaurant.cuisines +"</td></tr>"
      })
      table.innerHTML = html;
      document.getElementById("loader2").innerHTML = ""
    })
    .catch(function (error) {
      console.log(error);
      document.getElementById("loader2").innerHTML = ""
    });
  }

  function getPOIs() {
    document.getElementById("loader3").innerHTML = "Loading...";
    document.getElementById("poisresults").innerHTML = "<tr> <th>Place</th> <th>Address</th> </tf>"
    var queryData = document.getElementById("search").value;
    axios.post('/pois', {
      query: encodeURI(queryData)
    })
    .then(function (response) {
      var table = document.getElementById("poisresults");
      var html = "<tr> <th>Place</th> <th>Address</th> </tf>"
      response.data.results.forEach(function(poi) {
        html += "<tr> <td>" + poi.name +  "</td><td>" + poi.vicinity + "</td></tr>"
      })
      table.innerHTML = html;
      document.getElementById("loader3").innerHTML = ""
    })
    .catch(function (error) {
      console.log(error);
      document.getEelementById("loader3").innerHTML = ""
    });
  }
</script>

{{#if userData}}
  <script>
    userObj = {{{userData}}};
    console.log(userObj);
    axios.post('/users', {
      userData: userObj
    })
    .then(function (res) {
      console.log(res);
    })
    .catch(function (err) {
      console.log(err);
    });
  </script>
{{/if}}