<!--floating facebook login button-->
<div class="login">
  {{#if user}}
  <button><a href="/auth/logout">Facebook Logout</a></button>
  {{else}}
  <button><a href="/auth/login">Facebook Login</a></button>
  {{/if}}
</div>

<!--header of homepage-->
<div class="header">
  <div class="nav">
    <ul>
      <li id="name">Trippppr</li>
      <li><a href="../routes/index.js">home</a></li>
      {{#if user}}
        <li>{{user.displayName}}!</li>
      {{/if}}
    </ul>
  </div>

  <div class="imageslideshow">

    <div class="images fade">
      <img src="photos/london.jpg" style="width:100%" alt="london"/>
    </div>

    <div class="images fade"> 
      <img src="photos/japan.jpg" style="width:100%" alt="japan"/> 
    </div>

    <div class="images fade">
      <img src="photos/italy.jpg" style="width:100%" alt="italy"/>
    </div>

    <div class="images fade">
    <img src="photos/sanfran.jpg" style="width:100%" alt="san francisco"/>
    </div>

    <div class="images fade"> 
    <img src="photos/newyork.jpg" style="width:100%" alt="new york"/>
    </div>

    <div class="images fade"> 
    <img src="photos/thailand.jpg" style="width:100%" alt="bali"/> 
    </div>

    <div class="images fade"> 
    <img src="photos/australia.jpg" style="width:100%" alt="australia"/> 
    </div>

  </div>
</div>

<!--search forum-->
<div class="searchevent">
  <input type="text" id="search" placeholder="Enter location and date (ex. boston 04-23, canada)">
  <button id="submit">Search</button>
</div>

<!--info-->
<div class="intro">
  <h2>INTRO</h2>
  <p>Trippppr introduces you to events, restaurants and points of interests for any location you might be visiting! We will create lists of things for you to do, just enter any location and a potential time you will be visiting.</p>
</div>

<hr>

<!--outputs-->
<div class="outputs">
  <div class="events">
    <h2>EVENTS</h2> <span id="loader1"></span>
    <table style="width:100%" id="eventsresults">
      <tr>
        <th>Name</th>
        <th>Date</th> 
        <th>Free?</th>
      </tr>
    </table>
  </div>
  
  <hr>

  <div class="restaurants">
    <h2>RESTAURANTS</h2><span id="loader2"></span>
    <table style="width:100%" id="restresults">
      <tr>
        <th>Name</th>
        <th>Address</th>
        <th>Cuisine</th>
      </tr>
    </table>
  </div>

  <hr>
<!--
  <h2>POINTS OF INTERESTS</h2><span id="loader"></span>
  <table id="results">

  </table>-->

</div>

<!--events output-->
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
  document.getElementById("submit").addEventListener("click", function(){
    document.getElementById("loader1").innerHTML = "Loading...";
    document.getElementById("eventsresults").innerHTML = "<tr> <th>Name</th> <th>Date</th> <th>Free?</th> </tr>"
    var queryData = document.getElementById("search").value;
    axios.post('/events', {
      query: encodeURI(queryData)
    })
    .then(function (response) {
      console.log(response.data.events);
      var table = document.getElementById("eventsresults");
      var html = "<tr> <th>Name</th> <th>Date</th> <th>Free?</th> </tr>"
      response.data.events.forEach(function(event){
        html += "<tr> <td>" + event.name.text + "</td><td>" + (new Date(event.start.utc)).toLocaleDateString() + "</td><td>" + event.is_free + "</td></tr>"
      })
      table.innerHTML = html;
      document.getElementById("loader1").innerHTML = ""
    })
    .catch(function (error) {
      console.log(error);
      alert("Error! Please check console!")
      document.getElementById("loader1").innerHTML = ""
    });
  });
</script>

<script>
  document.getElementById("submit").addEventListener("click", function(){
    document.getElementById("loader2").innerHTML = "Loading...";
    document.getElementById("restresults").innerHTML = "<tr> <th>Name</th> <th>Address</th> <th>Cuisine</th> </tr>"
    var queryData = document.getElementsById("search").value;
    axios.post('/zomato', {
      query: encodeURI(queryData)
    })
    .then(function (response) {
      console.log(response.data.zomato);
      var table = document.getElementsById("eventsresults");
      var html = "<tr> <th>Name</th> <th>Address</th> <th>Cuisine</th> </tr>"
      response.data.zomato.forEach(function(restaurant) {
        html += "<tr> <td>" + event.title + "</td><td>" + event.address + "</td><td>" + event.cuisines +"</td></tr>"
      })
      table.innerHTML = html;
      document.getElementById("loader2").innerHTML = ""
    })
    .catch(function (error) {
      console.log(error);
      alert("Error! Please check console!")
      document.getElementById("loader2").innerHTML = ""
    })
  })
</script>

{{#if userData}}
  <script>
    userObj = {{{userData}}};
    console.log(userObj);
    axios.post('/users', {
      userData: userObj
    })
    .then(function (res) {
      console.log(res);
    })
    .catch(function (err) {
      console.log(err);
    });
  </script>
{{/if}}

<!--runs image slideshow-->
<script>
var slideIndex = 0;
showSlides();

function showSlides() {
    var i;
    var slides = document.getElementsByClassName("images");
    for (i = 0; i < slides.length; i++) {
       slides[i].style.display = "none";  
    }
    slideIndex++;
    if (slideIndex > slides.length) {slideIndex = 1}    
    slides[slideIndex-1].style.display = "block"; 
    setTimeout(showSlides, 6000); 
}
</script>