<div class="headline">
  <h1>{{title}}</h1>
  {{#if user}}
    <h2>Hello, {{user.displayName}}!</h2></div>
  {{/if}}

<div class="login">
  {{#if user}}
  <button><a href="/auth/logout">Logout</a></button>
  {{else}}
  <button><a href="/auth/login">Login</a></button>
  {{/if}}
</div>

<div class="searchevent">
  <h3>Enter location/date:</h3>
  <input type="text" id="search">
  <button id="submit">Search</button>
</div>

<h3>Results:</h3> <span id="loader"></span>
<table style="width:100%" id="results">
  <tr>
    <th align="left">Name</th>
    <th align="left">Date</th> 
    <th align="left">Free?</th>
  </tr>
</table>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
  document.getElementById("submit").addEventListener("click", function(){
    document.getElementById("loader").innerHTML = "Loading...";
    document.getElementById("results").innerHTML = "<tr> <th align='left'>Name</th> <th align='left'>Date</th> <th align='left'>Free?</th> </tr>"
    var queryData = document.getElementById("search").value;
    axios.post('/events', {
      query: encodeURI(queryData)
    })
    .then(function (response) {
      console.log(response.data.events);
      var table = document.getElementById("results");
      var html = "<tr> <th align='left'>Name</th> <th align='left'>Date</th> <th align='left'>Free?</th> </tr>"
      response.data.events.forEach(function(event){
        html += "<tr> <td>" + event.name.text + "</td><td>" + (new Date(event.start.utc)).toLocaleDateString() + "</td><td>" + event.is_free + "</td></tr>"
      })
      table.innerHTML = html;
      document.getElementById("loader").innerHTML = ""
    })
    .catch(function (error) {
      console.log(error);
      alert("Error! Please check console!")
      document.getElementById("loader").innerHTML = ""
    });
  });
</script>
{{#if userData}}
  <script>
    userObj = {{{userData}}};
    console.log(userObj);
    axios.post('/users', {
      userData: userObj
    })
    .then(function (res) {
      console.log(res);
    })
    .catch(function (err) {
      console.log(err);
    });
  </script>
{{/if}}
