

<div class="login">
  {{#if user}}
  <button><a href="/auth/logout">Facebook Logout</a></button>
  {{else}}
  <button><a href="/auth/login">Facebook Login</a></button>
  {{/if}}
</div>

<div class="header">
  <div class="nav">
    <ul>
      <li id="name">Trippppr</li>
      <li><a href="../routes/index.js">home</a></li>
      {{#if user}}
        <li>{{user.displayName}}!</li>
      {{/if}}
    </ul>
  </div>

  <div class="imageslideshow">

    <div class="images fade">
      <img src="photos/london.jpg" style="width:100%" alt="london"/>
    </div>

    <div class="images fade">
      <img src="photos/italy.jpg" style="width:100%" alt="italy"/>
    </div>

    <div class="images fade">
      <img src="photos/singapore.jpg" style="width:100%" alt="singapore"/>
    </div>

    <div class="images fade">
    <img src="photos/sanfran.jpg" style="width:100%" alt="san francisco"/>
    </div>

    <div class="images fade"> 
    <img src="photos/newyork.jpg" style="width:100%" alt="new york"/>
    </div>

    <div class="images fade"> 
    <img src="photos/japan.jpg" style="width:100%" alt="japan"/> 
    </div>

    <div class="images fade"> 
    <img src="photos/bali.jpg" style="width:100%" alt="bali"/> 
    </div>

    <div class="images fade"> 
    <img src="photos/australia.jpg" style="width:100%" alt="australia"/> 
    </div>

  </div>
</div>

<div class="searchevent">
  <input type="text" id="search" placeholder="Enter location and date (ex. boston july 20, canada)">
  <button id="submit">Search</button>
</div>

<div class="results"></div>

  <div class="events">
    <h3>EVENTS</h3> <span id="loader"></span>
    <table style="width:100%" id="results">
      <tr>
        <th>Name</th>
        <th>Date</th> 
        <th>Free?</th>
      </tr>
    </table>
  </div>

  <div class="restaurants">

  </div>

  <div class="pois">

  </div>

</div>



<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
  document.getElementById("submit").addEventListener("click", function(){
    document.getElementById("loader").innerHTML = "Loading...";
    document.getElementById("results").innerHTML = "<tr> <th align='left'>Name</th> <th align='left'>Date</th> <th align='left'>Free?</th> </tr>"
    var queryData = document.getElementById("search").value;
    axios.post('/events', {
      query: encodeURI(queryData)
    })
    .then(function (response) {
      console.log(response.data.events);
      var table = document.getElementById("results");
      var html = "<tr> <th align='left'>Name</th> <th align='left'>Date</th> <th align='left'>Free?</th> </tr>"
      response.data.events.forEach(function(event){
        html += "<tr> <td>" + event.name.text + "</td><td>" + (new Date(event.start.utc)).toLocaleDateString() + "</td><td>" + event.is_free + "</td></tr>"
      })
      table.innerHTML = html;
      document.getElementById("loader").innerHTML = ""
    })
    .catch(function (error) {
      console.log(error);
      alert("Error! Please check console!")
      document.getElementById("loader").innerHTML = ""
    });
  });
</script>
{{#if userData}}
  <script>
    userObj = {{{userData}}};
    console.log(userObj);
    axios.post('/users', {
      userData: userObj
    })
    .then(function (res) {
      console.log(res);
    })
    .catch(function (err) {
      console.log(err);
    });
  </script>
{{/if}}

<script>
var slideIndex = 0;
showSlides();

function showSlides() {
    var i;
    var slides = document.getElementsByClassName("images");
    for (i = 0; i < slides.length; i++) {
       slides[i].style.display = "none";  
    }
    slideIndex++;
    if (slideIndex > slides.length) {slideIndex = 1}    
    slides[slideIndex-1].style.display = "block"; 
    setTimeout(showSlides, 6000); 
}
</script>