html {
  position: relative;
  min-height: 100%;
}

body {
  margin: 0;
  margin-bottom: 60px; /* Margin bottom by footer height */
	background-color: white;
	padding: 0px;
	font-family: Geneva, Verdana, Arial, sans-serif;
	overflow-x: hidden;
}

#coverLoader {
      position: fixed;
    z-index: 999999;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-items: center;
    align-items: center;
    background-color: rgba(0,0,0,0.8);
}

label.btn {
  width: 100%;
}

#tripButtonWrapper {
      text-align: center;
    padding: 30px;
}

#tripsPageWrapper {
  margin-top: 80px;
}


.navbar {
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
  text-align: center;
  background-color: #f5f5f5;
}

.header {
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  margin: 0 auto;
}

.imageslideshow {
  width: 700vw;
  height: 100vh;
  -webkit-animation: slide 35s ease infinite;
  -moz-animation: slide 35s ease infinite;
  -o-animation: slide 35s ease infinite;
  animation: slide 35s ease infinite;
}

.images {
  float: left;
  height: 100vh;
  width: 100vw;
}

.images > img {
  min-height: 100%; 
  width: auto;
}

#cover {
	position: relative;
	display: flex;
	flex-direction: column;
}

#search-wrapper {
  background-color: #eee;
	position: absolute;
  align-self: center;
  justify-self: center;
  top: 50vh;
  border-radius: 10px;
}

#inputWrapper {
      display: flex;
      align-items: center;
}

#inputWrapper > * {
  margin: 0 2px 0 2px;
}

.card-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space:nowrap;  
  height: 450px;
}
@media (pointer: coarse) {
  .card-wrapper::-webkit-scrollbar {
      width: 0px;  /* remove scrollbar space */
      background: transparent;  /* optional: just make scrollbar invisible */
  }
}
  

.card-text {
  flex-grow: 1;
  overflow-y: scroll;
   word-break: break-word;
    white-space: normal;
}

.card-title {
   word-break: break-word;
    white-space: normal;
}

.card-subtitle {
    white-space: normal;
}

.card-text > img {
  width: 100%;
}

.card-icon {
      width: 30px;
    padding: 5px;
}

.card-body {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.error-wrapper{
      height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

span.free {
  color: green;
}

.card-body > button {
  flex-shrink: 0;
}

.card-link > button {
      width: 100%;
    margin: 5px 0 5px 0;
}

.card {
  display: inline-block;
  margin: 0 3px 0 3px;
  height: 100%;
  width: 300px !important;
}

.searchevent {
	padding-top: 15px;
	padding-bottom: 15px;
	border-radius: 5px;
  text-align: center;
}

.intro {
	padding: 10% 2% 2% 2%;
  text-align: center;
}

hr{
	align: center;
	width: 90%;
}

.outputs {
	position: relative;
}

.section-wrapper {
	padding: 1% 2% 1% 2%;
}

.loader {
  color: #007bff;
  font-size: 90px;
  text-indent: -9999em;
  overflow: hidden;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  margin: 72px auto;
  position: relative;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load6 1.7s infinite ease, round 1.7s infinite ease;
  animation: load6 1.7s infinite ease, round 1.7s infinite ease;
}
@-webkit-keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}
@keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}
@-webkit-keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes slide {
  0% {margin-left: 0;}
  14% {margin-left: 0;}
  15% {margin-left: -100vw;}
  28% {margin-left: -100vw;}
  29% {margin-left: -200vw;}
  42% {margin-left: -200vw;}
  43% {margin-left: -300vw;}
  56% {margin-left: -300vw;}
  57% {margin-left: -400vw;}
  70% {margin-left: -400vw;}
  71% {margin-left: -500vw;}
  84% {margin-left: -500vw;}
  85% {margin-left: -600vw;}
  100% {margin-left: -600vw;}
}

@-moz-keyframes slide {
  0% {margin-left: 0;}
  14% {margin-left: 0;}
  15% {margin-left: -100vw;}
  28% {margin-left: -100vw;}
  29% {margin-left: -200vw;}
  42% {margin-left: -200vw;}
  43% {margin-left: -300vw;}
  56% {margin-left: -300vw;}
  57% {margin-left: -400vw;}
  70% {margin-left: -400vw;}
  71% {margin-left: -500vw;}
  84% {margin-left: -500vw;}
  85% {margin-left: -600vw;}
  100% {margin-left: -600vw;}
}

@-o-keyframes slide {
  0% {margin-left: 0;}
  14% {margin-left: 0;}
  15% {margin-left: -100vw;}
  28% {margin-left: -100vw;}
  29% {margin-left: -200vw;}
  42% {margin-left: -200vw;}
  43% {margin-left: -300vw;}
  56% {margin-left: -300vw;}
  57% {margin-left: -400vw;}
  70% {margin-left: -400vw;}
  71% {margin-left: -500vw;}
  84% {margin-left: -500vw;}
  85% {margin-left: -600vw;}
  100% {margin-left: -600vw;}
}

@keyframes slide {
  0% {margin-left: 0;}
  14% {margin-left: 0;}
  15% {margin-left: -100vw;}
  28% {margin-left: -100vw;}
  29% {margin-left: -200vw;}
  42% {margin-left: -200vw;}
  43% {margin-left: -300vw;}
  56% {margin-left: -300vw;}
  57% {margin-left: -400vw;}
  70% {margin-left: -400vw;}
  71% {margin-left: -500vw;}
  84% {margin-left: -500vw;}
  85% {margin-left: -600vw;}
  100% {margin-left: -600vw;}
}