body {
	background-color: white;
	padding: 0px;
	margin: 0;
	font-family: Geneva, Verdana, Arial, sans-serif;
}

.header {
	margin-top: 0px;
	border: 0.5px solid white;
	position: relative;
}

.nav {
	padding: 15px;
}

.nav ul {
	list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav li {
	font-size: 20px;
	display: inline;
	padding: 6px;
}

.nav a:link, a:visited, a:active {
	color: black;
	text-decoration: none;
}

#name {
	font-size: 30px;
	padding-right: 25px;
}

.login {
	position: fixed;
	top: 20px;
	right: 10px;
	z-index: 10;
}

.login a {
	color: white;
	text-decoration: none;
}

.login button {
	background-color: #3b5998;
	font-size: 20px;
	font-family: "Helvetica", sans-serif;
	border: 2px solid #3b5998;
	padding: 5px 10px;
	border-radius: 8px;
}

.imageslideshow {
  max-width: 200%;
  position: absolute;
  margin: 0 0 0 0;
  padding: 0;
  z-index: -1;
}

.imageslideshow img {
	height: 40%;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 4s;
  animation-name: fade;
  animation-duration: 4s;
}

@-webkit-keyframes fade {
  from {opacity: .7} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .7} 
  to {opacity: 1}
}

.searchevent {
	margin-top: 450px;
	text-align: center;
	position: relative;
	color: black;
	padding-top: 30px;
	padding-bottom: 30px;
	margin-left: 27%;
	margin-right: 27%;
	border-radius: 10px;
}

#search {
	font-size: 14px;
	width: 70%;
	height: 30px;
	border: 1px solid #bfbfbf;
	border-radius: 10px;
	padding: 2px 8px;
	margin-right: 2px;
}

#submit {
	border: 1px solid #bfbfbf;
	border-radius: 6px;
	padding: 8px 15px;
	font-size: 15px;
}


.events {
	text-align: center;
	margin-top: 100px;
	padding-left: 40px;
}

.events h3 {
	font-size: 30px;
	text-align: left;
}